.button-spacer {
  flex: 1 1 auto;
}

.page-sidenav {
  padding: 20px;
}

.page-container {
  color: darkcyan;
  height: 750px;
  align-items:center;
  justify-content:center;
}

.app-logo {
  margin-left: 50px;
  margin-right: 50px;
  width: 350px;


}
.app-name {
  font-size: 20px;
  color: #ed7513;
  font-style: normal;
  font-family: "Glass Antiqua", serif;
  text-align: center;
}

.div-menu {
  margin-top: 50px;
  margin-inline: 50px;

}

.item-menu-title {
  font-size: 16px;
  color: #ed7513;
  font-style: normal;
  font-family: "Glass Antiqua", serif;
  text-align: center;

}

.div-banner {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  /*margin-top:50px;*/
}
p{
  font-size: 1.0rem;
  background-color: white;
  margin: 0rem ;
  padding: 0.5rem;
  text-align: justify;
}

.img-banner {
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
  height: 400px;
}
.about-us{
  font-size: 1.0rem;
  color: #2d545e;
  background-color: whitesmoke;
  margin: 0rem 0;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;

}
.about-loops{
  font-size: 1.0rem;
  color: #2d545e;
  background-color: whitesmoke;
  text-align: justify;
  padding-left: 30%;
  padding-right: 30%;
}




