<mat-drawer-container class="page-container" autosize style="background-color: white">
  <mat-drawer #drawer class="page-sidenav" mode="over">
    <img class="app-logo" [src]="logo"/>


    <p class="app-name">{{ title | uppercase }}</p>
    <mat-divider></mat-divider>


    <div class="div-menu">
      <mat-card *ngFor="let item of items" (click)="onChangePage(item)">
        <mat-card-content class="item-menu-title">{{ item.title | uppercase }}
        </mat-card-content>


      </mat-card>

      <mat-card>
        <mat-card-content class="item-menu-title">{{ owner | titlecase }}</mat-card-content>
      </mat-card>
    </div>
  </mat-drawer>

  <mat-toolbar style="background: #2d545e; color: #e1b382 ">


    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div style='font-family: "Glass Antiqua", serif; font-size: xx-large'>{{ title}}</div>

    <span class="button-spacer"></span>

    <div class="box">
      <input type="text" placeholder="Type to search...">
            <mat-icon>search</mat-icon>

    </div>


<!--      <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon&#45;&#45;on">favorite</i>-->
<!--      <i class="material-icons mdc-icon-button__icon">favorite_border</i>-->

<app-favourite-button></app-favourite-button>
    <app-cart-button></app-cart-button>


    <button mat-icon-button (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="div-banner" >
    <img class="img-banner" [src]="imageBanner" style="width: 100%"/>

  </div>
  <span style='font-family: "Glass Antiqua", sans-serif; font-size: xxx-large'>
    <h1 class="about-loops" style='font-family: "Glass Antiqua",serif; font-size: xx-large '>About Loops...</h1>
  <p class="about-us">
    I'm Julia, the creative mind behind this online haven for handmade lovers. From modern bags to cozy scarves,
    and trendy beanies to warm cardigans, our store is a celebration of the timeless art of crochet. With a passion
    for yarn and a hook in hand, I've embarked on a journey to bring  both traditional techniques and contemporary
    designs back where they belong, "walking"  down  the street, or simply making homes feel like home. Each piece
    in our  store  is a labor of love, meticulously crafted to bring warmth, beauty,  and a touch of handmade charm to your life.</p>
  </span>


  <app-list-items [showAdmin]="false"></app-list-items>


</mat-drawer-container>

